<!DOCTYPE html>
<html>
<head>

    {% load static %}

    <title>Recruiter Dashboard</title>

    <link rel="stylesheet"
          href="{% static 'accounts/style.css' %}">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">

        <div class="logo">
            Job Portal
        </div>

        <div class="nav-links">

            <a href="{% url 'recruiter_dashboard' %}">
                My Jobs
            </a>

            <a href="{% url 'post_job' %}">
                Post New Job
            </a>

            <a href="{% url 'my_profile' %}">
                My Profile
            </a>

            <button type="button"
        id="theme-toggle"
        class="theme-toggle">
    🌙 Dark
</button>

            <a href="{% url 'logout' %}" class="logout-btn">
                Logout
            </a>

        </div>

    </nav>


    <!-- Main Container -->
    <div class="container">

        <!-- Welcome -->
        <div class="welcome">

            <h1>
                Welcome, {{ user.username }} 👋
            </h1>

            <p>
                Manage your jobs and find the right candidates.
            </p>

        </div>


        <!-- Recruiter Actions -->
        <div class="search-box">

            <h2>Recruiter Dashboard</h2>

            <p>
                Create new job opportunities and manage applications.
            </p>

            <a href="{% url 'post_job' %}"
               class="btn search-btn">
                + Post New Job
            </a>

        </div>


        <!-- My Jobs -->
        <h2>My Posted Jobs</h2>

        {% if jobs %}

            <div class="jobs-grid">

                {% for job in jobs %}

                    <div class="job-card">

                        <h3>
                            {{ job.title }}
                        </h3>

                        <p class="company">
                            🏢 {{ job.company }}
                        </p>

                        <p class="location">
                            📍 {{ job.location }}
                        </p>

                        <p class="salary">
                            💰 {{ job.salary }}
                        </p>

                        <p class="job-mode">
    🏢 {{ job.get_mode_display }}
</p>

<p class="job-shift">
    🕐 {{ job.get_shift_display }}
</p>

                        <p class="description">
                            {{ job.description|truncatewords:25 }}
                        </p>

                        <p>
                            <strong>Posted:</strong>
                            {{ job.created_at|date:"d M Y" }}
                        </p>


                        <!-- Application Button -->
                        <div class="actions">

                            <a
                                href="{% url 'view_applications' job.id %}"
                                class="btn details-btn">

                                View Applications

                            </a>

                        </div>

                    </div>

                {% endfor %}

            </div>

        {% else %}

            <div class="job-card">

                <h3>No Jobs Posted Yet</h3>

                <p>
                    Start by posting your first job.
                </p>

                <a
                    href="{% url 'post_job' %}"
                    class="btn apply-btn">

                    + Post New Job

                </a>

            </div>

        {% endif %}

    </div>
<script src="{% static 'accounts/theme.js' %}"></script>
</body>
</html>